// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors:
$rb-dark: #1B263B;       // Bleu nuit profond
$rb-primary: #415A77;    // Bleu ardoise
$rb-accent: #E76F51;     // Corail sportif
$rb-light: #F8F9FA;      // Blanc cassé
$rb-sand: #E0E1DD;       // Gris clair chaud
