// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

// Define fonts for body and headers
$body-font: 'Exo', sans-serif;
$headers-font: 'Orbitron', sans-serif;;

// Style pour le titre (Header)
h1, h2, h3 {
  font-family: $headers-font;
  font-weight: 700;
  color: #1a1a1a;
  letter-spacing: -0.02em; /* Optionnel : resserre légèrement le titre pour un look premium */
}

// Style pour le texte (Body)
body, p {
  font-family: $body-font;
  font-weight: 400;
  line-height: 1.6;
  color: #4a4a4a;
}
