// Specific CSS for your home-page
.my-container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px 16px;
}

@media (min-width: 769px) {
  .my-container {
    width: 40%;
    padding: 60px 0;
  }
}

.btn-homepage {
  border-radius: $border-radius-xl;
  color: white;
}

.racebuddy-presentation {
  border: 2px solid $rb-accent;
  border-radius: $border-radius-xl;
  padding: 10px;
}
