.chat-message-avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 12px;
  flex-shrink: 0;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message-row-other {
  display: flex;
  align-items: flex-start;
}

